.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}

.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
}

.main .nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.main .nav img {
  width: 40px;
  border-radius: 50%;
}

.main-container {
  max-width: 900px;
  margin: auto;
}

.main .greet {
  margin: 50px 0;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.main .card {
  height: 200px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: scale 0.3s ease;
}

.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.main .card p {
  color: #585858;
  font-size: 17px;
}

.main .card:hover {
  background-color: #dfe4ea;
  scale: 1.05;
}

.main .main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
  margin: auto;
}

.main .search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main .bottom-info {
  font-size: 13px;
  margin: 12px auto;
  text-align: center;
  font-weight: 300;
}

.result {
  padding: 0 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar {
  display: none;
}

.result .reult-title {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.result img {
  width: 40px;
  border-radius: 50px;
}

.result .result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}

.result .loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result .loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7;
}

/* toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  margin: 10px;
}

.toggle-switch .toggle-input {
  display: none;
}

.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 18px;
  background-color: #2196F3;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #4CAF50;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(12px);
}

.toggle-switch.light .toggle-label {
  background-color: #BEBEBE;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9B9B9B;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

.toggle-switch.dark .toggle-label {
  background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/* toggle switch */

@media (max-width: 450px) {
  .main .greet {
    font-size: 45px;
  }

  .search-box {
    padding: 5px 10px;
  }

  .search-box div {
    gap: 10px;
  }

  .search-box img {
    width: 18px;
  }

  .main .search-box {
    gap: 5px;
  }
}

@media (max-width: 400px) {
  .main .greet {
    font-size: 40px;
  }
}

@media (max-width: 350px) {
  .main .greet {
    font-size: 35px;
  }
}
